@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Black.ttf);
    src: url(../fonts/Roboto-Bold.ttf);
    src: url(../fonts/Roboto-Light.ttf);
    src: url(../fonts/Roboto-Medium.ttf);
    src: url(../fonts/Roboto-Regular.ttf);
    src: url(../fonts/Roboto-Thin.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
    justify-content: center;
    text-align: center;
}


header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100px;
    background-color: #fff;
    opacity: 0.8;
    border-bottom: 1px solid black;
}

header .seredina {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

header .seredina a{
    text-decoration: none;
    color: black;
    font-weight: 400;
}

header .seredina a:hover {
    color: #FF8100;
    transition: 0.5s;
}


header .ic i  {
    font-size: 22px;
    color: black;
}

header .ic i:hover {
    color: #FF8100;
    transition: 0.5s;
}

header div a {
    text-decoration: none;
    color: black;
}

header div a:hover {
    color: #FF8100;
    transition: 0.5s;
}

main {
    padding-bottom: 5vh;
}

main aside {
    display: grid;
    grid-template-columns: repeat(2, 1050px);
    padding-top: 5vh;
    justify-items: center;
    align-items: center;
}

main .hh{
    background-color: #FF8100;
    padding: 20px 30px;
    color: #fff;
    font-weight: 400;
    border-radius: 5px;
}

main .aa {
    background-color: #FF8100;
    padding: 20px 30px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
}

main .aa:hover {
    color: #FF8100;
    border: 1px solid #FF8100;
    background-color: #fff;
    transition: 0.3s;
}


main article {
    display: grid;
    row-gap: 100px;
    padding-top: 5vh;
}

main article .text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1300px;
    align-items: center;
    column-gap: 100px;
    border: 1px solid #FF8100;
    padding: 30px 50px;
    border-radius: 5px;
    transition: 0.5s;
}

main article .text:hover {
    transition: 0.5s;
    scale: 0.9;
}

main article .text div {
    display: grid;
    row-gap: 3vh;
    justify-items: start;
}

main article .text div h2 {
    text-align: left;
    font-size: 30px;
}

main article .text div p {
    text-align: left;
    font-size: 18px;
}

main article .text div a {
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    color: #FF8100;
    border: 1px solid #FF8100;
    padding: 20px 30px;
    transition: 0.8s;
}

main article .text div a:hover {
    color: #fff;
    background-color: #FF8100;
    transition: 0.8s;
    scale: 1.2;
}

footer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items:center;
    background-color: #000000;
    justify-items: center;
}


.kor, .main, .sos {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1vh;
    padding: 30px 30px;
}

.kor h2 {
    color: white;
    padding-right: 8vh;
}

.kor p {
    width: 500px;
    padding-left: 9vh;
    text-align: left;
    color: white;
}

.main h2 {
    padding-bottom: 10px;
}

.main h2 {
    color: white;
}

.main a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.main a:hover {
    color: #FF8100;
    transition: 0.5s;
}

.sos {
    display: grid;
    height: 70%;
    justify-items: center;
    align-items: center;
}

.sos h2 {
    color: white;
}

.sos .ico {
    background-color: #ffffff;
    padding: 10px 15px;
    border-radius: 40px;
}


.sos .ico a {
    text-decoration: none;
    color: black;
}

.sos .ico a:hover {
    color: #FF8100;
    transition: 0.5s;
}